asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.1.6
idna==3.10
pillow==11.1.0
psycopg-binary==3.2.5
pyTelegramBotAPI==4.26.0
requests==2.32.3
setuptools==75.8.2
sqlparse==0.5.3
urllib3==2.3.0
wheel==0.45.1
